@import "variables";
@import "compass";

&.check-tick{
    @include border-radius($sep/2);
    @include transition-duration($duration);
    @include transition-property(opacity);
    @include transition-timing-function(ease-in-out);

    & .tick{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        opacity: 0;
        @include transition-duration($duration);
        @include transition-property(opacity);
        @include transition-timing-function(ease-in-out);
    }

    &.selected .tick{
        opacity: 1;
    }

    &.not-selected .tick, &.indeterminate .tick{
        opacity: 0;
    }
}