@import "variables";
@import "compass";

*{ @include box-sizing(border-box); }

body{
    background-color: $bg;
}

.custom{
    $dim: 4vh;
    $sep: 1vh;

    width: $dim;
    height: $dim;

    margin: $sep;
    display: block;
    position: relative;

    cursor: pointer;


    &.disabled{
        opacity: 0.2;
        cursor: not-allowed;
    }

    &{
        background-color: white;
        @include box-shadow(0 0 0.4vh 0.2vh rgba(#000, 0.15));
    }

    @import "checkbox";
    @import "radio-button";
    @import "checkbox-tick";
    @import "checkbox-toggle";
    @import "checkbox-toggle-inner";
}